@import 'mixin.scss';

@font-face {
  font-family: 'AGaramondPro-Regular';
  src: url('../fonts/AGaramondPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/AGaramondPro-Regular.woff') format('woff'), url('../fonts/AGaramondPro-Regular.ttf') format('truetype'), url('../fonts/AGaramondPro-Regular.svg#AGaramondPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

